{% extends "layout.html" %}

{% block content %}
    <div class="panel panel-default">
    <div class="panel-heading">
    <div class="panel-title"><h2>Lab Members</h2></div>
    </div>
    <div class="panel-body">

<div>
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/jji1.jpg') }}" width="400px">
    </div>

<div class="page-header">
    <h3>John Irwin</h3>
</div>
<p>
John Irwin is Adjunct Associate Professor in the Department of Pharmaceutical Chemistry at the University of California San Francisco.  
John works on methods to discover new reagents for biological targets using target- and ligand-based methods. 
He applies these methods to various projects, and particiates in numerous collaborations.
</p>
<p>
John develops the ZINC database of commercially available compounds for virtual screening, the DUDE database for benchmarking virtual screening methods, the DOCK Blaster family of products for web-based virtual screening, and the SEA method of comparing proteins by the ligands they bind.
</p>
<p>
Short bio: John received his Ph.D. for work with Jack Dunitz in chemical crystallography in 1991 at ETH Zurich.
 He worked at a startup molecular modeling company before joining Gerard Bricogne's group at the Medical Research Council's Laboratory of Molecular Biology in Cambridge UK, developing software for new macromolecular crystallographic structure solution and refinement methods (BUSTER and SHARP). 
He spent a year and a half as a staff scientist at EMBL-EBI also in Cambridge working on the PDB cleanup project before moving to Northwestern University Medical School in 2000.
He has been working on DOCK, ZINC, and SEA since 2000.
</p>
 since 2000</div>
{#
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/jji2.jpg') }}" width="400px">
    </div>
#}

<div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/teague1.jpg') }}" width="300px">
    </div>
<div class="page-header">
    <h3>Teague Sterling</h3>
</div>
<p>
Teague holds Batchelor's and Master's degrees in computer science from San Francisco State University, where
he has been teaching computer science for 5 years. Teague is the author of the ZINC 12 and ZINC 15 interfaces, 
as well as many other tools and databases in the lab.
</p>
</div>

<div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/sbarelier.jpg') }}" width="200px">
    </div>
<div class="page-header">
<h3>Sarah Barelier</h3>
</div>
<p>
I am interested in fragment-based approaches applied to drug design and substrate discovery:
<ol>
<li>Fragment-based screening against AmpC Beta-Lactamase: how to expand our exploration of chemical space using fragment molecules?
</li>
<li>
Analyzing the potential of fragment molecules as tools for enzyme function prediction: the Amidohydrolase Superfamily as a case study. These two projects involve fragment docking, enzymatic assays and X-ray crystallography.
</li>
</ol>
</p>
</div>

</div>
</div>

    <div class="panel panel-default">
    <div class="panel-heading">
    <div class="panel-title"><h2>Former Members</h2></div>
    </div>
    <div class="panel-body">

<h3>Therese Demers</h3>
<p>
Now a software engineer at Hitachi Corp, Santa Clara, CA
</p>

<h3>Cassidy Kelly</h3>
<p>Went on to work at IBM Almaden Research, currently involved in a startup in stealth mode.</p>

<h3>Gurgen Tumanian</h3>
<p>Currently at Flurry, a mobile analytics company in San Francisco.</p>

<h3>Pierce Ogden</h3>
<p>Now a graduate student at Harvard University.</p>
</div>
</div>
{% endblock %}

