{% extends "layout.html" %}

{% block content %}
    <h1>Current Projects</h1>

We are currently working on the following projects.
<hr />

    <h2 id="zinc"><a href="http://zinc.docking.org">Improvements to ZINC</a></h2>
    <p>ZINC 12 is a widely used tool for finding purchasable compounds along with 3D structures for docking.</p>
    <p>ZINC 15 is a completely re-tooled and much more powerful version coming soon.</p>


<hr />

    <h2 id="blaster"><a href="http://blaster.docking.org">DOCK Blaster</a></h2>
    <p>DOCK Blaster is a public access, web-based 
target-based virtual screening system.</p>

<hr />

    <h2 id="sea">SEA</h2>
    <p>SEA a method to compare proteins by the ligands they bind. 
It can be used to predict the biological targets of small molecules
based on literature precedents.  We use ChEMBL.
</p>

<hr />

    <h2 id="decoys"><a href="http://dude.docking.org">Decoys for docking</a></h2>
	<p>We developed DUD-E, an enhanced version of DUD, 
to benchmark molecular docking library screens.
</p>

<hr />

    <h2 id="advisor">Aggregator advisor</h2>
	<p>The aggregator advisor provides resources to help 
investigators find out whether their bioactive compounds 
might be acting non-specifically via an aggregation mechanism.
</p>

<hr />

    <h2 id="phenotypic">Phenotypic screening library</h2>
	<p>Phenotypic screening libraries.
	</p>

<hr />

    <h2 id="cancer">Pharmacology for Cancer Genomics</h2>
	<p>We are developing tools to link chemical tools 
	to genomic data.  We are prototyping these tools 
in the area of Cancer.
</p>

    <h2 id="reactor">Synthetic chemical library tools</h2>
	<p>

</p>


{% endblock %}
