{% extends "layout.html" %}
{% block page_title %}About us{% endblock%}
{% block content %}
    <div class="thumbnail pull-right">
      <div class="caption"><img src="{{ url_for('static', filename='img/lab1.jpg') }}" width="400px"></div>
    </div>
    <h1>Welcome!</h1>

  <p>
We develop software tools and databases to help discover small molecules for biology. We use our own software and databases for our own research, which helps focus our attention on making the tools pragmatic. ZINC and DUDE are freely available for everyone. DOCK 3.7 is free to academics and modestly priced for companies. SEA and DOCK Blaster is free to use. We hope our tools are useful to you, but you must use them at your own risk.

</p>
<p>
Irwin Lab is supported by 
<a href="http://www.nigms.nih.gov">NIGMS GM71896</a>.
</p>
{% endblock %}
