{% extends "layout.html" %}
    {% block page_title %}Edit Profile{% endblock %}

{% block content %}

<div class="ml-3">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                        <span>{{ message }}</span>
                    </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
       {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-danger">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                <strong>Error!</strong> {{error}}
            </div>
        {% endfor %}
         {% endfor %}
    </div>
<h1>Edit Profile</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <table class="table table-borderless">
            <tr>
                <td>
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        
                    </p>
                </td>
                <td>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}<br>
                       
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        {{ form.firstName.label }}<br>
                        {{ form.firstName(size=32) }}<br>
                        
                    </p>
                </td>
                <td>
                    <p>
                        {{ form.lastName.label }}<br>
                        {{ form.lastName(size=32) }}<br>
                        
                    </p>
                </td>
            </tr>
        </table>
        <div>
            <p>Edit bio</p>
            <p><textarea name="bio" class="summernote">{{ current_user.bio if current_user.bio else '' }}</textarea></p>

            <p>
                {{ form.photo.label }}<br>
                {{ form.photo(cols=50, rows=4) }}<br>
                

            </p>

            <div class="row">

                <p>{{ form.submit(class="btn btn-primary") }}&nbsp;{{ form.cancel(class="btn btn-primary") }}</p>

            </div>
        </div>
    </form>

<script>
 {% block js %}
    $(document).ready(function() {
     $('.summernote').summernote({
         placeholder: 'Edit your profile here!!!',
            toolbar: [
                ['style', ['style']],
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'link', 'table']],
                ['codeview', ['codeview']],
                ['help',['help']]
              ],
              height:200
        });
    });
    {% endblock %}
</script>
</div>
{% endblock %}