<br>
<footer>
    <div class="panel panel-default clearfix" >
	<!--{% include "menu.html" %}-->

        <div id="footer">
            <span id="footer-content">
        <p> Irwin Lab, Department of Pharmaceutical Chemistry, University of California, San Francisco<br>
        © Irwin Lab, 2015-2018. &nbsp;Supported by <a href="http://www.nigms.nih.gov">NIGMS GM71896</a>.</p>
    </span>

       <!--  <div class="col-md-offset-1 col-md-3 pull-right">
           {% if current_user.is_anonymous %}
            <p>Member of the lab? <a href="{{ url_for('login') }}" class="btn btn-primary">Login/Register</a></p>

             {% else %}
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit profile</a>
            {% endif %}
        </div> -->
    </div> 
    </div>
</footer>
