{% extends "layout.html" %}
{% block page_title %} Lab members {% endblock %}

{% block content %}
<span class="text-right">
    {% if current_user.is_anonymous %}
        <p>Member of Irwin Lab? <a class="btn btn-primary" href="{{ url_for('login') }}">Login/Register</a></p>
    {% else %}
        <p>Hi {{ current_user.firstName }}!</p>
        <p>
        {% if current_user.role == 'admin' %}
        <a class="btn btn-primary" href="/admin">Manage Users</a>&nbsp;
        {% endif %}
        <a class="btn btn-primary" href="{{ url_for('profile', username=current_user.username) }}">My Profile</a>&nbsp;
        <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a></p>
    {% endif %}
</span>

<div class="container clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title"><h2>Lab Members</h2></div>
        </div>
    <div class="panel-body">
{% for user in users if user.lastName == 'Irwin'  %}
         <div class="container-fluid">
            <div class="thumbnail pull-right" style="margin:10px;">
                <img src="{{ url_for('static', filename='img/') }}{{ user.photo_name }}" width="400px" alt="{{ user.photo_name }}">
            </div>

            <div class="page-header">
                <h3>{{ user.firstName }}&nbsp;{{user.lastName }}</h3><br>
                <p >{{ user.bio | safe }}</p>
            </div><br>

        </div>
        {% endfor %}
    {% for user in users | sort(attribute='lastName') if user.lastName != 'Irwin'  %}
        <div class="container-fluid clearfix">
            <div class="thumbnail pull-right ">
                {% if user.photo_name %}
                <img src="{{ user.photo_name }}" width="200px" alt="{{ user.photo_name }}">
            {% else %}
                <img src="{{ url_for('static', filename='img/raw/profile_img_holder.png') }}" width="200px">
                {% endif %}
              <!--   <img src="{{ url_for('static', filename='img/') }}{{ user.photo_name }}" width="200px" > -->
            </div>

            <div class="page-header">
                <div class="clearfix">
                <h3>{{ user.firstName }}&nbsp;{{user.lastName }}</h3><br>
                <p >{{ user.bio | safe if user.bio else 'No bio posted yet'}}</p>
            </div>
             <br>
            </div>

        </div>
    {% endfor %}
        </div>
    </div>

<!--<p>
John Irwin is Adjunct Associate Professor in the Department of Pharmaceutical Chemistry at the University of California San Francisco.  
John works on methods to discover new reagents for biological targets using target- and ligand-based methods. 
He applies these methods to various projects, and particiates in numerous collaborations.
</p>
<p>
John develops the ZINC database of commercially available compounds for virtual screening, the DUDE database for benchmarking virtual screening methods, the DOCK Blaster family of products for web-based virtual screening, and the SEA method of comparing proteins by the ligands they bind.
</p>
<p>
Short bio: John received his Ph.D. for work with Jack Dunitz in chemical crystallography in 1991 at ETH Zurich.
 He worked at a startup molecular modeling company before joining Gerard Bricogne's group at the Medical Research Council's Laboratory of Molecular Biology in Cambridge UK, developing software for new macromolecular crystallographic structure solution and refinement methods (BUSTER and SHARP). 
He spent a year and a half as a staff scientist at EMBL-EBI also in Cambridge working on the PDB cleanup project before moving to Northwestern University Medical School in 2000.
He has been working on DOCK, ZINC, and SEA since 2000.
</p>
 since 2000-->

<!--<div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/chinzo.jpg') }}" width="200px">
    </div>
<div class="page-header">
    <h3>Chinzorig Dandarchuluun</h3>
</div>
<p>
I work as a Scientific Programmer in Irwin Lab and responsible for developing and maintaining current ZINC15 interface and other new systems. For the educational background, I completed both Bachelor's and Master's degrees in Computer Science.
</p>
</div>
        <div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/brian.jpg') }}" width="200px">
    </div>
<div class="page-header">
    <h3>Brian Plotkin</h3>
</div>
<p>
    Brian is a recent graduate of university high school. He is taking a gap year to work for the Irwin lab before going to undergrad for biochemistry at Case Western Reserve University. He joined Irwin lab because of the DOCKblaster18 project, which would allow him to use his bioinformatic knowledge. He has ambitions of studying medicine.
</p>
</div>
<div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/jizhou.jpg') }}" width="200px">
    </div>
<div class="page-header">
    <h3>Jizhou Yang</h3>
</div>
<p>
Jizhou is a graduate student in computer science at San Francisco State University. He also holds a Bachelor's degree in biology and a Master's degree in bioinformatics. He is interested in bioinformatics, data science, and software engineering.
</p>
</div>
<div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/khanh.jpg') }}" width="200px">
    </div>
<div class="page-header">
    <h3>Khanh Tang</h3>
</div>
<p>
Khanh has a Bachelor’s Degree in Biochemistry and a former student of PINC at San Francisco State University. She loves chemistry and had 2 years of experience of working in a Organic Chemistry lab. She is interesting in computation-based approach for drug discovery.
</p>
</div>

<div class="clearfix">
    <div class="thumbnail pull-right">
        <img src="{{ url_for('static', filename='img/sbarelier.jpg') }}" width="200px">
    </div>
<div class="page-header">
<h3>Sarah Barelier</h3>
</div>
<p>
I am interested in fragment-based approaches applied to drug design and substrate discovery:
<ol>
<li>Fragment-based screening against AmpC Beta-Lactamase: how to expand our exploration of chemical space using fragment molecules?
</li>
<li>
Analyzing the potential of fragment molecules as tools for enzyme function prediction: the Amidohydrolase Superfamily as a case study. These two projects involve fragment docking, enzymatic assays and X-ray crystallography.
</li>
</ol>
</p>
</div>-->



    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title"><h2>Former Members</h2></div>
        </div>
        <div class="panel-body">
{% for former_user in former_users %}
        <h3>{{ former_user.firstName }}&nbsp;{{ former_user.lastName }}</h3>
        <p> {{ former_user.bio | safe if former_user.bio else '' }}</p>
        {% endfor %}
        </div>
<!--<h3>Teague Sterling</h3>
<p>
Teague holds Bachelor's and Master's degrees in computer science from San Francisco State University, where he has been teaching computer science for 5 years. Teague is the author of the ZINC 12 and ZINC 15 interfaces, as well as many other tools and databases in the lab.
</p>
<h3>Therese Demers</h3>
<p>
Now a software engineer at Hitachi Corp, Santa Clara, CA
</p>

<h3>Cassidy Kelly</h3>
<p>Went on to work at IBM Almaden Research, currently involved in a startup in stealth mode.</p>

<h3>Gurgen Tumanian</h3>
<p>Currently at Flurry, a mobile analytics company in San Francisco.</p>

<h3>Pierce Ogden</h3>
<p>Now a graduate student at Harvard University.</p>-->

    </div>
    </div>
{% endblock %}

