{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
    {% block page_title %}Sign In{% endblock %}
{% block content %}
<body>
<div class="ml-3 mt-3">
       {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-danger">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                <strong>Error!</strong> {{error}}
            </div>
        {% endfor %}
         {% endfor %}
<h1>Reset Password</h1><hr>
     <div class="col-md-4">
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    </div><br>
</div>
</body>
{% endblock %}